/* 

ESTRUCTURA HTML

<button class="btn btn-red">
    <span>Icono</span>
    Boton
</button>


*/

.btn {
    border: none;
    font-weight: var(--semi-bold);
    padding: 10px 20px;
    border-radius: var(--border-radius-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;

    font-size: 1rem;

    color: var(--white-primary);

}

.btn span {
    color: inherit;
}

.btn-blue {
    background-color: var(--blue-primary);
}

.btn-green {
    background-color: var(--green-primary);
}

.btn-red {
    background-color: var(--red-primary);
}



