.help-target-sm {
    width: 100%;
    background: var(--white-primary);
    border-radius: var(--border-radius-primary);
    padding: 16px;  
    
    display: flex;
    gap: 16px;
    align-items: center;

}


.help-target-sm-main-text {
    font-size: 1.1rem;
    font-weight: var(--bold);
    color: var(--black-primary);
}

.help-target-sm-text {
    font-size: .9rem;
    font-weight: var(--medium);
    color: var(--black-secondary);
    line-height: var(--line-height-primary);
}
    