/* 

    ESTRUCTURA HTML

    <div class="icon-container icon-square icon-green">
        <i data-lucide="book-open"></i>
    </div>

*/

.icon-container {
    min-width: 44px;
    min-height: 44px;
    max-width: 44px;
    max-height: 44px;

    display: grid;
    place-content: center;
}


.icon-square {
    border-radius: var(--border-radius-primary);
}

.icon-circle {
    border-radius: 999px;
    max-height: 38px;
    max-width: 38px;
    min-height: 38px;
    min-width: 38px;
}

.icon-container svg {
    width: 26px;
    height: 26px;
    stroke-width: 2;
    color: currentColor;
}

.icon-circle svg {
    width: 22px;
    height: 22px;
}

.icon-blue {
    background: var(--blue-secondary);
    color: var(--blue-primary);
}

.icon-green {
    background: var(--green-secondary);
    color: var(--green-primary);
}

.icon-purple {
    background: var(--purple-secondary);
    color: var(--purple-primary);
}
