.login-container {
    max-width: 484px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    position: relative;
    margin: 16px;
}

.login-icon {
    width: 70px;
    height: 70px;
    background: var(--white-primary);
    border-radius: 999px;
    display: grid;
    place-content: center
}

.login-top-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-range-text {
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--black-primary);
    text-align: center;
}

.login-description {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-secondary);
    text-align: center;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 44px 24px;

    background: var(--white-primary);
    border-radius: var(--border-radius-primary);
}

.login-form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
}

.login-form-label {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-primary);
}


.login-form-input {
    position: relative;
}

.login-form-input input {
    padding: 14px;
    width: 100%;
    border-radius: var(--border-radius-primary);

    border: 2px solid var(--gray);

    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-primary);

}

.login-form-input input:focus {
    outline: 1px solid var(--black-primary);
}


.login-form-input input::placeholder {
  color: var(--black-secondary);
  font-size: 1rem;
  font-weight: var(--regular);
  opacity: 1;
}

.login-form-input svg {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    stroke-width: 2;
    color: var(--black-secondary);
}


/* Inputs */ 

.login-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px;
    width: 100%;
    border-radius: var(--border-radius-primary);
    border: 1px solid var(--blue-primary);
    background: var(--blue-primary);
    color: var(--white-primary);
    font-size: 1rem;
    font-weight: var(--bold);
    cursor: pointer;
}

.login-form-button svg {
    width: 20px;
    height: 20px;
    stroke-width: 3;
    color: var(--white-primary); 
}