.notifications-container {
    width: 100%;
    background: var(--white-primary);
    border-radius: var(--border-radius-primary);

    grid-column: span 2;
} 


.notifications-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 16px 24px;
}

.notifications-container-top .link {
    text-wrap: nowrap;
}

.notifications-title {
    font-size: 1.3rem;
    font-weight: var(--bold);
    color: var(--black-primary);
    line-height: var(--line-height-secondary);
}

.notifications-description {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-secondary);
}

.notifications-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    gap: 16px;
}

.notifications-item-left {
    display: flex;
    align-items: center;
    gap: 16px
}

.notifications-item-text-info {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-primary);
    line-height: var(--line-height-secondary);
}

.notifications-item-text-info-name {
    font-weight: var(--bold);
}


.notifications-item-text-info-description {
    font-size: .9rem;
    font-weight: var(--semi-bold);
    color: var(--black-secondary);
    line-height: var(--line-height-secondary);
}





.notifications-item-time {
    font-size: 1rem;
    font-weight: var(--semi-bold);
    color: var(--black-primary);
    text-wrap: nowrap;
}