/* 

    ESTRUCTURA HTML 

    <div class="course-target">

        <div class="course-target-top">
            <div class="icon-container icon-square icon-square-blue">
                <i class="icon" data-lucide="book-open"></i>
            </div>
            <div class="badge badge-green">
                <div class="circle"></div>
                Activo
            </div>
        </div>
        
        <p class="course-target-grade">10mo grado - paralelo a</p>
        <p class="course-target-subject">Lengua y literatura</p>
        <p class="course-target-students"> 
            <i data-lucide="users"></i>
            32 estudiantes registrados
        </p>
        <a href="#" class="link">
            Seleccionar curso
            <i data-lucide="chevron-right"></i>
        </a>
    </div>


*/

.course-target {
    width: 100%;
    background: var(--white-primary);
    border-radius: var(--border-radius-primary);
    padding: 24px;  
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.course-target-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-target-grade {
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--black-primary);
    text-transform: capitalize;
}

.course-target-subject {
    font-size: 1rem;
    font-weight: var(--bold);
    color: var(--blue-primary);;
}

.course-target-students {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-secondary);

    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
}

.course-target-students svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1.5;
}

.course-target .link {
    margin-top: 32px;
}