/* 

    ESTRUCTURA HTML

        <div class="help-target-sm">
            <div class="icon-container icon-circle icon-blue">
                <i class="icon" data-lucide="circle-alert"></i>
            </div>
            <p class="help-target-sm-text">Esta es una vista de solo lectura. Los cursos presentados han sido asignados por la dirección académica. Si nota alguna discrepancia en la lista de alumnos o materias, por favor contacte al administrador del sistema EduNFC.</p>
        </div>

*/

.help-target-sm {
    width: 100%;
    background: var(--white-primary);
    border-radius: var(--border-radius-primary);
    padding: 16px;  
    
    display: flex;
    gap: 16px;
    align-items: center;

}

.help-target-sm-main-text {
    font-size: 1.1rem;
    font-weight: var(--bold);
    color: var(--black-primary);
}

.help-target-sm-text {
    font-size: .9rem;
    font-weight: var(--medium);
    color: var(--black-secondary);
    line-height: var(--line-height-primary);
}
    