/* 

    ESTRUCTURA HTML

    <div class="info-target">
        <div class="info-target-top">
            <div class="icon-container icon-square icon-blue">
                <i class="icon" data-lucide="book-open"></i>
            </div>

        </div>
        <p class="info-target-description">Mis cursos</p>
        <p class="info-target-value">6 cursos</p>
    </div>

*/


.info-target {
    width: 100%;
    background: var(--white-primary);
    border-radius: var(--border-radius-primary);
    padding: 24px;  
    
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.info-target-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-target-description {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-secondary);
    text-transform: capitalize;
}

.info-target-value {
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--black-primary);
    text-transform: capitalize;
}