/* 

    ESTRUCTURA HTML

    <div class="info-target">
        <div class="info-target-top">
            <div class="icon-container icon-square icon-blue">
                <i class="icon" data-lucide="book-open"></i>
            </div>

        </div>
        <p class="info-target-title">Mis cursos</p>
        <p class="info-target-value">6 cursos</p>
    </div>

*/


.info-target {
    width: 100%;
    background: var(--white-primary);
    border-radius: var(--border-radius-primary);
    padding: 24px;  
    
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.info-target-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-target-title {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-secondary);
    text-transform: capitalize;

}

.info-target-value {
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--black-primary);
    text-transform: capitalize;
}

/* ---------------------------------- INFO TARGET SM ----------------------------------------- */

.info-target-sm-bottom {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.info-target-sm-title {
    font-size: 1rem;
    font-weight: var(--bold);
    color: var(--black-secondary);
}

.info-target-sm-value {
    font-size: 2.5rem;
}

.info-target-sm-text {
    font-size: 1rem;
    font-weight: var(--semi-bold);
    color: var(--black-secondary);
}

.info-target-sm-text-green {
    color: var(--green-primary);
}

.info-target-sm-text-red {
    color: var(--red-primary);
}

.info-target-sm-text-yellow {
    color: var(--yellow-primary);
}
