.sidebar {
    background: var(--white-primary);
    height: 100vh;
    width: var(--width-sidebar);

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

.sidebar .top {
    position: relative;
    width: 100%;
    height: var(--height-header);
}

.sidebar-toggle {
    color: var(--black-primary);
    position: absolute;
    top: -10px;
    right: -30px;
    cursor: pointer;

    width: 1.2rem;
    height: 1.2rem;

    stroke-width: 2;
}


.sidebar .content {
    height: 100%;
    width: 100%;
} 

.sidebar .content ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-item {
    color: var(--black-primary);
    font-weight: var(--medium);

    border-radius: var(--border-radius-primary);

    padding: 12px 16px;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

}

.sidebar-item svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1.5;
}

.content .item-selected {
    color: var(--blue-primary);
    background: var(--blue-secondary);
    font-weight: var(--semi-bold);
}

.sidebar-item.item-selected svg {
    stroke-width: 2;
}

.sidebar .bottom {
    width: 100%;
}

.sidebar-item.logout{
    color: var(--red-primary);
    gap: 20px;
}

.sidebar-item.logout:hover {
    background: var(--red-secondary);
}


/* ----------------------------------------------------------- HEADER ------------------------------------------------- */


.header {

    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    width: calc(100% - var(--width-sidebar));
    height: var(--height-header);
    background: var(--white-primary);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}


.header-left h2 {
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--black-primary);
}

.header-left p {
    font-size: .9rem;
    color: var(--black-secondary);
    font-weight: var(--medium);
}


.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}



.time-display {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.time-box {
    background: var(--gray);
    width: 46px;
    height: 36px;
    border-radius: var(--border-radius-primary);
    display: grid;
    place-content: center;
    font-size: 1.2rem;
    font-weight: var(--bold);
    
}

.separator {
    color: var(--black-primary);
    font-weight: var(--semi-bold);
    font-size: 1.5rem;
}


.date-text {
    color: var(--black-secondary);
    font-weight: var(--semi-bold);
    font-size: .8rem;
    text-align: right;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-name {
    font-size: 1rem;
    font-weight: var(--semi-bold);
    color: var(--black-primary);
    text-align: right;
}

.user-role {
    font-size: .9rem;
    color: var(--black-secondary);
    font-weight: var(--medium);
    text-align: right;
}

.user-image {
    width: 44px;
    height: 44px;
    border-radius: 999px;
    object-fit: cover;
    background: var(--gray);
    overflow: hidden;
}


/* ----------------------------------------------------------- MAIN ------------------------------------------------- */


.main {
    
    position: fixed;
    left: var(--width-sidebar);
    top: var(--height-header);
    overflow-y: auto;
    height: calc(100vh - var(--height-header));
    width: calc(100% - var(--width-sidebar));

}

.grid-main-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


