/* 

    ESTRUCTURA HTML

        <div class="link-pages-target">
            <div class="icon-container icon-square icon-blue">
                <i class="icon" data-lucide="user-cog"></i>
                </div>
            <p class="link-pages-target-action">Gestion de mis alumnos</p>
                <p class="link-pages-target-description">Ver fichas, reportes individuales y tags NFC asignados a sus estudiantes.</p>
            <a href="#" class="link">
                Ver listados
                <i data-lucide="chevron-right"></i>
            </a>
        </div>

*/


.link-pages-target {
    width: 100%;
    background: var(--white-primary);
    border-radius: var(--border-radius-primary);
    padding: 24px 68px 24px 24px;  
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.link-pages-target-action {
    font-size: 1.3rem;
    font-weight: var(--bold);
    color: var(--black-primary);
}

.link-pages-target-description {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--black-secondary);
    line-height: var(--line-height-primary);
}